@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: #F6F4F6;
}
header nav div a .logoIndex {
  position: absolute;
  top: -30px;
  left: -20px;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: 2rem;
}
header nav div div ul .carritoCompras, header nav div div ul main .seccionGeneral .contadorCarrito, main .seccionGeneral header nav div div ul .contadorCarrito {
  position: absolute;
  top: -10px;
  right: -20px;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin: 2rem;
}

/*nav {
        padding: 40px;
        .navBar {
            display: flex;
            justify-content:space-evenly;
            align-items:center;
            li { 
                list-style: none;
                a {
                   text-decoration: none;
                   color: #18A0FB;
                   padding: 0.5rem;
                   letter-spacing: 1px;
                   &:hover{
                        background-color: $colorFondo;
                        border-radius: 30px;
                        color: #F6F4F6;
                   }
                } 
            }
            span {
                width: 40%;
                input {
                    width: 70%;
                    height: 1.5rem;
                    &:focus-visible {
                        outline: 2px solid #18A0FB;
                    }
                }
                .btnBuscar {
                    width: 80px;
                    height: 2rem;
                    background-color: #18A0FB;
                    color: white;
                    letter-spacing: 0.5px;
                    border-radius: 30px;
                    margin-left: 10px;
                    border: 0;
                    font-size: 0.9rem;
                    &:hover {
                        background-color: $colorFondo;
                        color: white;
                        box-shadow:  0 0 2px 2px rgb(179, 176, 176);
                        transition: all 0.3s;
                    }
                }
            }
        }
    }
    div {
        .btnMenu {
            display: none;
        }
    }

}
@media only screen and (max-width:720px){
    header {
        div {
            #logoIndex {
                width: 4rem;
                height: 4rem;
            }
            .carritoCompras {
                display: none;
            }
            .btnMenu {
                display: block;
                position:absolute;
                top: 10px;
                right: 0px;
                margin: 1rem;
                width: 2rem;
                height: 2rem;
                background-color: #18A0FB;
                color: white;
                border-radius: 45px;
                border:1px solid #4d4c4c;
                font-size: 1.3rem;
            }
        }
        nav {
            .navBar {
                display: none;
            }
        }
    }
}*/
main .seccion1 {
  justify-content: center;
}
main .seccion1 h1 {
  text-align: center;
  margin-top: 3rem;
  color: #EF816B;
  font-size: 3rem;
  letter-spacing: 2px;
}
main .seccion1 .textoSlogan {
  position: relative;
  top: 220px;
  text-align: center;
  font-size: 2rem;
  color: blue;
  letter-spacing: 3px;
  font-weight: 700;
  z-index: 1;
}
main .seccion1 .imagenFondo {
  margin: 2rem;
  width: 1250px;
  height: 350px;
  opacity: 0.4;
}
main .seccionGeneral .carritoCompras, main .seccionGeneral .contadorCarrito {
  position: absolute;
  top: 22px;
  right: -20px;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin: 2rem;
}
main .seccionGeneral .contadorCarrito {
  right: -30px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #bb227e;
  text-align: center;
  color: #ffffff;
}
main .seccionGeneral .contenidoCarrito {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
main .seccionGeneral .contenedorBotones {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5px;
  margin: 5px;
  padding: 10px;
}
main .seccionGeneral .contenedorBotones .btnMostrar, main .seccionGeneral .contenedorBotones .btnOcultar {
  color: #bb227e;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  border-radius: 45px;
  border-color: #2c4b4d;
  padding: 2px;
}
main .seccionGeneral .contenedorBotones .btnMostrar:hover, main .seccionGeneral .contenedorBotones .btnOcultar:hover {
  background-color: #bb227e;
  color: #fff;
  box-shadow: 0px 2px 2px #bb227e;
}
main .seccionGeneral .contenedorBotones .ordenarProductos {
  width: 250px;
  color: #fff;
  background-color: #bb227e;
  font-family: "Montserrat", sans-serif;
}
main .seccionGeneral .contenedorBotones .ordenarProductos:hover {
  background-color: #fff;
  color: #bb227e;
  box-shadow: 0px 2px 2px #fff;
}
main .seccionGeneral #logo .logoWhats {
  position: fixed;
  top: 68%;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(148, 212, 110);
  color: white;
  font-size: 40px;
  padding: 1px;
  text-align: center;
}
main .seccionGeneral #logo .logoWhats:hover {
  background-color: white;
  color: rgb(148, 212, 110);
  box-shadow: 0px 0px 1px 1px #bce29d;
}
main .contenedorProductos {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
  padding: 0 5rem;
  margin-top: 3rem;
}
main .contenedorProductos div .cardProductos {
  width: 18rem;
}
main .contenedorProductos div .cardProductos .imgProductos {
  height: 200px;
  object-fit: contain;
}
main .contenedorProductos div .cardProductos .cuerpoCard {
  background-color: #bd9cb1;
}
main .contenedorProductos div .cardProductos .cuerpoCard .tituloProducto, main .contenedorProductos div .cardProductos .cuerpoCard .precioProducto {
  color: #2E294E;
  font-size: 20px;
}
main .contenedorProductos div .cardProductos .cuerpoCard .precioProducto {
  font-size: 15px;
  margin: 1.5rem 0;
}
main .contenedorProductos div .cardProductos .cuerpoCard .btnAgregarCarrito {
  background-color: #B80770;
  color: white;
  width: 100%;
  margin: 0 auto;
}
main .contenedorProductos div .cardProductos .cuerpoCard .btnAgregarCarrito:hover {
  background-color: #2c4b4d;
}
main .contenedorProductos div .cardProductos:hover {
  box-shadow: 0px 0px 5px 5px #f3f3f3;
  transform: translateY(-2px);
  border-color: rgb(93, 93, 236);
  transition: all 0.4s;
}
main #cajaContacto {
  display: flex;
  justify-content: center;
  margin: 3rem;
}
main #cajaContacto .contenedorContacto {
  width: 35%;
  box-shadow: 0px 2px 4px 4px #c7c7c7;
  border-radius: 15px;
  background-color: #fff;
  display: grid;
  grid-template-areas: "item item" "item1 item2" "item3 item4" "item5 item6" "item7 item8" "item9 item10" "item11 item11";
  gap: 10px;
  padding: 10px;
}
main #cajaContacto .contenedorContacto .item {
  grid-area: item;
}
main #cajaContacto .contenedorContacto .item p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
main #cajaContacto .contenedorContacto .item1 {
  grid-area: item1;
}
main #cajaContacto .contenedorContacto .item2 {
  grid-area: item2;
}
main #cajaContacto .contenedorContacto .item3 {
  grid-area: item3;
}
main #cajaContacto .contenedorContacto .item4 {
  grid-area: item4;
}
main #cajaContacto .contenedorContacto .item5 {
  grid-area: item5;
}
main #cajaContacto .contenedorContacto .item6 {
  grid-area: item6;
}
main #cajaContacto .contenedorContacto .item7 {
  grid-area: item7;
}
main #cajaContacto .contenedorContacto .item8 {
  grid-area: item8;
}
main #cajaContacto .contenedorContacto .item9 {
  grid-area: item9;
}
main #cajaContacto .contenedorContacto .item10 {
  grid-area: item10;
}
main #cajaContacto .contenedorContacto .item11 {
  grid-area: item11;
  text-align: center;
}
main #cajaContacto .contenedorContacto .item11 .btnEnviar {
  color: #fff;
  background-color: #bb227e;
  font-family: "Montserrat", sans-serif;
  border-radius: 45px;
  border-color: #bb227e;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 2px;
  width: 50%;
}
main #cajaContacto .contenedorContacto .item11 .btnEnviar:hover {
  background-color: #fff;
  color: #bb227e;
  box-shadow: 0px 2px 2px #fff;
}

@media only screen and (max-width: 720px) {
  main .seccion1 h1 {
    margin-top: 3rem;
    font-size: 2rem;
  }
  main .seccion1 .textoSlogan {
    font-size: 1.5rem;
  }
  main .seccion1 .imagenFondo {
    margin: 0.5rem;
    width: 95%;
    opacity: 0.4;
  }
}
.footerIndex {
  margin-top: 5rem;
}
.footerIndex nav {
  padding: 20px;
}
.footerIndex nav .navFooter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footerIndex nav .navFooter li {
  list-style: none;
}
.footerIndex nav .navFooter li a {
  text-decoration: none;
  color: #000000;
  padding: 0.5rem;
  letter-spacing: 1px;
  font-weight: bold;
}
.footerIndex nav .navFooter li a:hover {
  color: #18A0FB;
  text-decoration: underline;
}
.footerIndex nav .navFooter li a #imagenFooter {
  margin-right: 5rem;
  width: 4rem;
}

@media only screen and (max-width: 720px) {
  .footerIndex nav {
    padding: 10px;
  }
  .footerIndex nav .navFooter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footerIndex nav .navFooter li a {
    padding: 0.5rem;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-size: 0.9rem;
  }
  .footerIndex nav .navFooter li a #imagenFooter {
    margin-right: 3rem;
    width: 3rem;
  }
  .footerIndex nav .navFooter div {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
